<body>
    <nav>
      <a href="/">
        Home
      </a>
    </nav>
    
    <h1>
  Director #<%= @curDir.id %> details
</h1>

<a href="/directors" class="btn btn-block btn-outline-secondary">
  Go back
</a>

&nbsp;|&nbsp;

<a href="/delete_director/138" class="btn btn-block btn-outline-secondary">
  Delete director
  <small>(Building this link is not required. It's an optional stretch goal; but, you have the tools if you want to give it a try.)</small>
</a>

<hr>

<dl>
  <dt>
    Name
  </dt>
  <dd>
    <%= @curDir.name %>
  </dd>

  <dt>
    Dob
  </dt>
  <dd>
    <%= @curDir.dob %>
  </dd>

  <dt>
    Bio
  </dt>
  <dd>
    <%= @curDir.bio %>
  </dd>

  <dt>
    Image
  </dt>
  <dd>
    <img src="<%= @curDir.image %>" style="width:250px;">
  </dd>

  <dt>
    Created at
  </dt>
  <dd>
    <%= @curDir.created_at %>
  </dd>

  <dt>
    Updated at
  </dt>
  <dd>
    <%= @curDir.updated_at %>
  </dd>
</dl>

<hr>

<h2>Filmography</h2>

<table border="1">
  <tbody><tr>
    <th>
      ID
    </th>

    <th>
      Image
    </th>

    <th>
      Title
    </th>

    <th>
      Year
    </th>

    <th>
      Director
    </th>

    <th>
    </th>
  </tr>

  <tr>
    <td>
      8
    </td>

    <td>
      <img src="https://image.tmdb.org/t/p/w500/e5vzxBLagSoFh3LCA2zSj55AVc7.jpg" style="width:250px;">
    </td>

    <td>
      Pulp Fiction
    </td>

    <td>
      1994
    </td>

    <td>
      Quentin Tarantino
    </td>

    <td>
      <a href="/movies/8">
        Show details
      </a>
    </td>
  </tr>
</tbody></table>

  

</body>