
    <h1>
  Movie #18 details
</h1>

<a href="/movies" class="btn btn-block btn-outline-secondary">
  Go back
</a>

&nbsp;|&nbsp;

<hr>

<dl>
  <dt>
    Title
  </dt>
  <dd>
    <%= @curMove.title %>
  </dd>

  <dt>
    Year
  </dt>
  <dd>
    <%= @curMove.year %>
  </dd>

  <dt>
    Duration
  </dt>
  <dd>
    <%= @curMove.duration %>
  </dd>

  <dt>
    Description
  </dt>
  <dd>
    <%= @curMove.description %>
  </dd>

  <dt>
    Image
  </dt>
  <dd>
    <img src="<%= @curMove.image %>" style="width:250px;">
  </dd>

  <dt>
    Director
  </dt>
  <dd>


      <%= @curDir.name %>
  </dd>

  <dt>
    Created at
  </dt>
  <dd>
    <%= time_ago_in_words(@curMove.created_at) %>
  </dd>

  <dt>
    Updated at
  </dt>
  <dd>
     <%= time_ago_in_words(@curMove.updated_at) %>
  </dd>
</dl>

<hr>